[v-cloak] { display: none !important; }
.custom-scrollbar::-webkit-scrollbar { width: 6px; height: 6px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 4px; }
.no-scrollbar::-webkit-scrollbar { display: none; }
@media print { body * { visibility: hidden; } #receipt-print, #receipt-print * { visibility: visible; position: absolute; left: 0; top: 0; } }